<div class="card">
    <div class="card-block">
    <h4><a href="/location/5a0ecd39c9ef585ea93cbc2b">{{name}}</a>
    <small>&nbsp;<i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
    </small>
    <span class="badge badge-pill badge-default float right">14.6km</span>
    </h4><p class="address">125 High Street, Reading, RG6 1PS</p>
    <div class="facilities">
    <span class="badge badge-warning">Hot drinks</span>
    <span class="badge badge-warning">Food</span>
    <span class="badge badge-warning">Premium wifi</span>
    </div>
    </div>
</div>
    